/* CSS Resets */
body,
h1 {
  margin: unset;
  padding: unset;
}

ol,
ul {
  margin: unset;
  padding: unset;
}

li {
  list-style: none;
}

/* Typography */
:root {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* Layouts */
.wrapper {
  margin: 110px auto;
  width: 448px;
}

/* Design */
body {
  background-color: #d9d9d9;
}

.bucketlist {
  border-radius: 20px;
  background-color: #eeeeee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.bucket_title {
  padding: 40px 0;
  border-radius: 20px 20px 0 0;
  background-color: white;
  color: #ff007a;
  border-bottom: 4px solid #d9d9d9;
}

.bucket_title h1 {
  padding-left: 31px;
  border-left: 10px solid;
}

.bucketlist-container {
  padding: 40px;
}

.bucketlist-list li {
  color: #888888;
  background-color: white;
  border: 4px solid #d9d9d9;
  padding: 15px 15px 14px;
  border-radius: 10px;
  margin-top: 14px;
}

.bucketlist-list li.first {
  margin-top: 0;
}

.bucketlist-list li.check {
  border: 4px solid #759cff;
  color: #759cff;
  background-image: url(./images/check.png);
  background-repeat: no-repeat;
  background-position: right center;
}
