/* CSS Resets */
body,
h1 {
  margin: unset;
  padding: unset;
}

ol,
ul {
  margin: unset;
  padding: unset;
}

li {
  list-style: none;
}

/* Typography */
:root {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* Layouts */
.wrapper {
  margin: 110px auto;
  width: 448px;
}

/* Design */
body {
  background-color: #d9d9d9;
}

.bucketlist {
  border-radius: 20px;
  background-color: #eeeeee;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 0.1);
  overflow: hidden;
}

.rectangle {
  width: 8px;
  height: 32px;
  background-color: #ff007a;
  display: inline-block;
  vertical-align: top;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bucket_title {
  padding: 44px 0;
  border-radius: 20px 20px 0 0;
  background-color: white;
  border-bottom: 4px solid #d9d9d9;
  line-height: 32px;
}

.bucket_title h1 {
  color: #ff007a;
  font-size: 24px;
  font-weight: bold;
  padding-left: 30px;
  line-height: 32px;
  display: inline-block;
  /* border-left: 8px solid; */
}

/* .bucketlist-container {
  padding: 36px 38px 38px 38px;
} */

.bucketlist-list li {
  color: #888;
  box-shadow: 0 0 0 4px #d9d9d9 inset;
  background-color: white;
  padding: 15px 34px 15px 14px;
  border-radius: 10px;
  line-height: 1.25;
  margin: 0 38px 14px 38px;
}

.bucketlist-list li:last-child {
  margin-bottom: 38px;
}
.bucketlist-list li:first-child {
  margin-top: 38px;
}

.bucketlist-list li.check {
  box-shadow: 0 0 0 4px #759cff inset;
  color: #759cff;
  background-image: url(./images/check.png);
  background-repeat: no-repeat;
  background-position: right center;
  box-sizing: border-box;
  margin: 14px 18px;
}
